apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80        # The port the Service exposes
      targetPort: 5000 # The port the Container is listening on
  type: NodePort  # Exposes the Service on each Node's IP at a static port