apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: three-tier-backend:latest
        imagePullPolicy: Never  # Use the local image we will build later
        ports:
        - containerPort: 5000
        env:
        - name: DB_USER
          value: "postgres"
        - name: DB_PASSWORD
          value: "password"
        - name: DB_NAME
          value: "postgres"
        - name: DB_HOST
          value: "db"    # <--- The magic service name connection!