apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80         # The port we want to expose
      targetPort: 3000 # The port the container is listening on (React/Vite default)
  type: NodePort       # <--- Open to the outside world!